html {
    box-sizing: border-box;
    background: url('organic.jpg') fixed;
    background-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu {
    margin: 0;
    width: 100%;
    padding: 5px;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    border-bottom: 3px solid black;
    flex-wrap: wrap;
}

.menu-link {
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background: black;
}

.menu-item {
    height: 3em;
    align-self: center;
    margin: 5px;
}

.title-wrapper {
    margin: 0;
    background: #00ad03;
    border-bottom: 3px solid black;
}

.title {
    margin: 0;
    width: 90%;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: black;
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    transition: color 1s
}

.image {
    width: 70%;
    max-width: 200px;
    height: auto;
}

.title:hover {
    color: #00ad03;    
}

.menu-link:hover {
    color: #00ad03;
    font-size: 2.5em;
}